# System

.DS_Store
Thumbs.db

# Java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Eclipse

*.launch

# Idea

.idea/
*.iml
*.ipr
*.iws

# VS Code

.settings/
.vscode/
bin/
.classpath
.project

# Project

.gradle/
build/
out/
classes/
run/
external/

# Scripts

git_archive_branch.sh
